/* need those custom fonts as well*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

p, li {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 5%;
  padding: top;
}
h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 2%;
  padding: bottom;
}

hr { 
 height: 4px; 
 background: black; 
}

center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

header, footer {
  background: lightgrey;
}

a:link    { color: goldenrod;  }
a:visited { color: purple;   }
a:hover   { color: pink; }
a:active  { color: yellow;  }
